**/build
**/private
**/*.class
/Prog5Work/HS.dat
/RandomGenTest/nbproject/private/
/Prog5Work/nbproject/private/
/Prog5Work/dist/
/Prog6/nbproject/private/
/Prog6Feedback/nbproject/private/
/Prog6/dist/